<h2>Welcome to our second online silent auction!</h2>
    <main>
        <div>
    <p>Thank you for joining us for our second silent auction! We appreciate the support and are hoping you go <strong><em>WILD</em></strong> on bidding.
    </p>
    <p>Please fill out your <button type="button"><a href="bidder.html">Bidder Information</a></button> to begin.</p>
    <p>Then, click the following items to begin bidding:</p>
   </div>
    <br>
    <h3>Aladdin Tickets on Broadway</h3>
    <a href = "bid-sheet.html"><img id="aladdin" src="Assets/images/Aladdin-Musical-Poster.jpg" alt="Aladdin-Musical-Poster"></a>
    <h3>Baseball Trading Cards</h3>
    <img class="bigimg" id="baseball" src="Assets/images/Baseball-Trading.jpg" alt="Baseball Trading Cards">         
    <h3>Chocolate Gift Basket</h3>
    <img class="bigimg" id="chocolate" src="Assets/images/chocolate-basket.jpg" alt="Chocolate Gift Basket">
    </main>
         <div>
    <p>The auction will close at the start of the performance on Saturday November 1.  We welcome all to come to our fundraiser show and carnival at <a href="https://www.google.com/maps/dir//College+Wood+Elementary+School,+Shelborne+Road,+Carmel,+IN/@39.96543,-86.2610386,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x8814aa5150c2501d:0x7a65b7f52a798ab6!2m2!1d-86.2199731!2d39.9658018?entry=ttu">College Wood Elementary</a> from 3m to 7pm.  Doors open at 4pm.</p>
    <br>
    <p>Follow these links to purchase tickets and learn more about the activities.</p>
    <br>
    <p>Winners may collect their items at the fundraiser or have them delievered to their home upon recipet of payment.</p>
    
 </div>
