<footer>
    <a href="https://www.m3theatrecamp.com/"><h2>Learn more about M3 Theater Camp!</h2></a>
    <h2>Or Follow us on social media!</h2>
    <a href="https://www.facebook.com/Meridian845/"><img src="Assets/images/Facebook.png" alt="Facebook Logo"></a>
    <p>Created By: Katie Buchholz</p>
</footer>